.users-grid-header {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'title-zone search-zone settings-zone';

  border-bottom: 1px solid gray;

  position: sticky;
  top: 0;
  background-color: white;
  
  align-items: center;
  
  .title-zone {
    grid-area: title-zone;
    justify-self: start;
    margin-left: 10px;
    min-width: 120px;
  }
  .search-zone {
    grid-area: search-zone;
    display: flex;

    .search-input {
      flex: 1;
    }
  }
  .settings-zone {
    grid-area: settings-zone;
    margin: 0;
    justify-self: end;

    .link-container {
      display: flex;
    }
    
    .link {
      width: 20px;
      height: 20px;
      text-decoration: inherit;
      color: inherit;
      cursor: pointer;
      margin-right: 6px;
      border-radius: 50%;
      padding: 10px;
      text-align: center;
      
      &:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
      }
      &:hover,
      &:focus {
        color: #0053ba;
      }
      &:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
      }
      &:active {
        transform: scale(0.99);
      }
    }

  }
}

.users-grid {
  display: flex;
  flex-flow: column;
  align-items: center;

  @media screen and (min-width: 1050px) {
    flex-flow: row wrap;
  }
}
