.link {
    width: 20px;
    height: 20px;
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
    margin-right: 6px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;

    &:visited {
        text-decoration: inherit;
        color: inherit;
        cursor: pointer;
    }
    &:hover,
    &:focus {
        color: #0053ba;
    }
    &:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }
    &:active {
        transform: scale(0.99);
    }
}
